body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons button {
    margin: 0 10px;
}
